container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

  02_fix_sqlite_owner:
    command: "chown webapp:webapp db.sqlite3 || true"
    leader_only: true

  03_fix_sqlite_file_permission:
    command: "chmod 664 db.sqlite3 || true"
    leader_only: true

  04_fix_sqlite_folder_permission:
    command: "chmod 775 . || true"
    leader_only: true